<div class="main">
<cp-stepper [activeStep]="1"></cp-stepper>
<div class="container-fluid">
    <div class="media">
        <div class="media-left">
            <div class="item-circle"><span>1</span></div>
        </div>
        <div class="media-body">
            <p>Please Reboot your Wi-Fi Gateway.</p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <div class="item-circle"><span>2</span></div>
        </div>
        <div class="media-body">
            <p>When Reboot is complete, Click Next.</p>
        </div>
    </div>
    <div class="wifi-scan">
        <img src="assets/images/wifi_scan.png" class="img-fluid" alt="">
    </div>
    <p class="lead lead__center">
        <a class="btn btn-primary btn-lg"
          routerLinkActive="active" (click)="next()" role="button">Next</a>
    </p>
</div>
</div>
