<div class="main">
<cp-stepper [activeStep]="2"></cp-stepper>
<div class="container-fluid">
  <div class="alert alert-info" role="alert">
    {{instruction}}
  </div>
  <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f); f.reset();" #f="ngForm">
    <div class="md-form">
        <input type="text" name="room" id="room" class="form-control" [ngModel]="result?.room"
        placeholder="Enter Room Name" required>
        <label for="room"></label>
    </div>
    <div class="md-form">
        <input type="number" name="reading" id="reading" class="form-control" [ngModel]="result?.reading" required
        placeholder="Enter dBm Reading">
        <label for="reading"></label>
    </div>
    <p class="lead lead__center">
      <button class="btn btn-primary btn-lg" type="submit" [disabled]="f.invalid">SUBMIT</button>
    </p>
  </form>
</div>
</div>

