.fa {
  padding: 10px;
}
.list-group {
  box-shadow: none;
  padding-bottom: 10px;
}
.green {
  background-color: white  !important;;
  padding: 0 15px;
  color: green;
}
.yellow {
  background-color: white  !important;;
  padding: 0 15px;
  color: #f18f05;
}
.red {
  background-color: white  !important;;
  padding: 0 15px;
  color: red;
}
