<div class="step-container">
<div class="mdl-card mdl-shadow--2dp">

  <div class="mdl-card__supporting-text">
    <div class="mdl-stepper-horizontal-alternative">
    <div class="mdl-stepper-step {{stepOneStat}}">
      <div class="mdl-stepper-circle"><span>1</span></div>
      <div class="mdl-stepper-title">Rebooting</div>
      <div class="mdl-stepper-bar-left"></div>
      <div class="mdl-stepper-bar-right"></div>
    </div>
    <div class="mdl-stepper-step {{stepTwoStat}}">
      <div class="mdl-stepper-circle"><span>2</span></div>
      <div class="mdl-stepper-title">Scanning</div>
      <div class="mdl-stepper-bar-left"></div>
      <div class="mdl-stepper-bar-right"></div>
    </div>
    <div class="mdl-stepper-step {{stepThreeStat}}">
      <div class="mdl-stepper-circle"><span>3</span></div>
      <div class="mdl-stepper-title">Done</div>
      <div class="mdl-stepper-bar-left"></div>
      <div class="mdl-stepper-bar-right"></div>
      </div>
  </div>

</div>
</div>
