$primary1: #009fdb; //AT&T Blue
$primary2: #000; //body copy
$primary3: #5a5a5a; //gray - body copy
$primary4: #0469ae; //blue for functional links
$primary5: #0574ac; // dark blue
$primary6: #4ca90c; //green
$primary7: #702f8a; //purple
$primary8: #71c4e8; // light blue
$primary9: #d2d2d2; //light gray
$primary10: #fdb71c; //yellow
$primary11: #959595; //medium gray

$light: #fff;
$dark: #222;
$black: #000;

$background: #f2f2f2;
$error: #c81235;

$font-size-link: 18px;
$font-size-base: 15px;
$font-weight-base: 300;
