html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: $body-background;
    color: $body-text-primary;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
}
img {
  vertical-align: bottom;
}
img a {
  border: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main {
  position: relative;
  width: 100%;
  top: 70px;
  padding: 0 10px;
}
.main__center {
  margin: 150px auto;
}
.lead {
  font-size: 1rem;
}
.lead__center {
  text-align: center;
}
.my {
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
}
.item-circle {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background-color: #4285F4;
  border-radius: 50%;
  text-align: center;
  line-height: 2em;
  font-size: 12px;
  color: white;
}
/** custom radio input button **/
input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type=checkbox]:checked,
input[type=checkbox]:not(checked),
input[type=radio]:checked,
input[type=radio]:not(:checked) {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}
input[type=radio]:checked+label,
input[type=radio]:not(:checked)+label {
    position: relative;
    height: 25px;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}
input[type="radio"]+label:after,
input[type="radio"]+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}
input[type="radio"]:checked+label:before {
  border-radius: 50%;
  border: 2px solid transparent;
}
input[type="radio"]+label,
input[type="radio"]:checked+label,
input[type="radio"]:not(:checked)+label {
  padding-left: 35px;
  display: inline-block;
  line-height: 25px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
}
input[type="radio"]:checked+label:after {
  border-radius: 50%;
  border: 2px solid #4285F4;
  background-color: #4285F4;
  z-index: 0;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
input[type="radio"]:checked+label,
input[type="radio"]:not(:checked)+label {
  position: relative;
  height: 25px;
  -webkit-transition: .28s ease;
  transition: .28s ease;
}
input[type="radio"]:not(:checked)+label:before {
    border-radius: 50%;
    border: 2px solid #5a5a5a;
}
input[type="radio"]:not(:checked)+label:after {
    border-radius: 50%;
    border: 2px solid #5a5a5a;
    z-index: -1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
/* with-gap **/
input[type="radio"].with-gap:checked+label:before {
  border-radius: 50%;
  border: 2px solid #4285F4;
}
input[type="radio"].with-gap:checked+label:after {
  border-radius: 50%;
  border: 2px solid #4285F4;
  background-color: #4285F4;
  z-index: 0;
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
}
.form-inline .form-group {
    margin-right: .5rem;
    margin-bottom: .5rem;
}


/** checkbox **/
[type=checkbox]+label {
    position: relative;
    height: 25px;
}
[type=checkbox]+label, [type=radio]:checked+label, [type=radio]:not(:checked)+label {
    padding-left: 35px;
    display: inline-block;
    line-height: 25px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}
[type=checkbox].filled-in:checked+label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    -ms-transform: rotate(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
[type=checkbox].filled-in+label:after, [type=checkbox].filled-in+label:before {
    content: '';
    left: 0;
    position: absolute;
    z-index: 1;
}
[type=checkbox]:checked+label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #4285F4;
    border-bottom: 2px solid #4285F4;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
[type=checkbox]+label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    /* -webkit-transition: .2s;
    transition: .2s; */
}
[type=checkbox].filled-in:checked+label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #4285F4;
    background-color: #4285F4;
    z-index: 0;
}
[type=checkbox].filled-in+label:after {
    border-radius: 2px;
}
