<div class="main">
<cp-stepper [activeStep]="2"></cp-stepper>
<div class="container-fluid">
  <div class="media">
      <div class="media-left">
          <div class="item-circle"><span>1</span></div>
      </div>
      <div class="media-body">
          <p>Go to the room where the Wi-Fi Gateway is located.</p>
      </div>
  </div>
  <div class="media">
      <div class="media-left">
          <div class="item-circle"><span>2</span></div>
      </div>
      <div class="media-body">
          <p>Scan using RF monitor and wait in the room for 15 sec before recording the result. </p>
      </div>
  </div>
  <hr class="my">
  <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="md-form" *ngIf="displayFloorSelection">
      <p>Select the floor where the Wi-Fi gateway is?</p>
      <div class="form-inline">
        <fieldset class="form-group" *ngFor="let floor of floors$ | async">
          <input class="with-gap" name="floor" type="radio" id="floor{{floor.value}}"
              [value]="floor.value" [(ngModel)]="floor.value">
          <label for="floor{{floor.value}}"><span>{{floor.name}}</span></label>
        </fieldset>
      </div>
    </div>
    <div class="md-form">
        <input type="text" name="room" id="room" class="form-control" [ngModel]="result?.room"
        placeholder="Enter Room Name" required>
        <label for="room"></label>
    </div>
    <div class="md-form">
        <input type="number" name="reading" id="reading" class="form-control" [ngModel]="result?.reading" required
        placeholder="Enter dBm Reading">
        <label for="reading"></label>
    </div>
    <p class="lead lead__center">
      <button class="btn btn-primary btn-lg" type="submit" [disabled]="f.invalid">SUBMIT</button>
    </p>
  </form>
</div>
</div>
