<div class="main">
<cp-stepper [activeStep]="3"></cp-stepper>
<div class="container-fluid">
    <div class="main__center">
      <p class="lead lead__center">
          <a class="btn btn-default btn-lg" [routerLink]="['/wifi-scan/more']"
            routerLinkActive="active" role="button">SCAN MORE ROOMS</a>
      </p>

      <p class="lead lead__center">
          <a class="btn btn-primary btn-lg" [routerLink]="['/wifi-scan/result']"
            routerLinkActive="active" role="button">COMPLETE PROCESS</a>
      </p>
    </div>
</div>
<div>
