<div class="main">
  <div class="container-fluid">
    <!--Card image-->
      <div class="card-image">
          <img src="assets/images/about_scan.png" class="img-fluid" alt="">
      </div>
      <div class="media">
          <div class="media-left">
              <div class="item-circle"><span>1</span></div>
          </div>
          <div class="media-body">
              <p>Rebooting your Wi-fi Gateway will take about 3 to 5 minutes.</p>
          </div>
      </div>
      <div class="media">
          <div class="media-left">
              <div class="item-circle"><span>2</span></div>
          </div>
          <div class="media-body">
              <p>Scanning each room for Wi-Fi coverage will take about 3 to 5 minutes per room. </p>
          </div>
      </div>
      <div class="media">
          <div class="media-left">
              <div class="item-circle"><span>3</span></div>
          </div>
          <div class="media-body">
              <p>We will then give you a detail recommendation.</p>
          </div>
      </div>
      <p class="lead lead__center">
          <a class="btn btn-primary btn-lg" (click)="rebooting()"
              routerLinkActive="active" role="button">LET'S GO</a>
      </p>
  </div>
</div>
